# Copy this to .env and fill in your values
REACT_APP_CONTRACT_ID=CAVBWCYJP2AXAEUJCAW3AUTBKZ2TUHZXIVGJET66PZECJQDDZ3YU7RAP
REACT_APP_PUBLIC_KEY=GB4MX4A5LJTCV2FCW3WNY4CF6WTLOGXSXVZMQVLN7WF5HFQBMC7XR235
